.App {
	max-width: 100%;
	overflow-x: hidden !important;
	background-image: url(./imgs/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.header {
	padding: 10px 0;
	width: 100%;
	text-align: center;
	background-color: transparent;
}
.header img {
	width: 200px;
	height: 100px;
	object-fit: contain;
}

@media only screen and (max-width: 450px) {
	.App {
		background-size: contain;
		background-position: bottom;
	}
}